.button {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
}

.landing-page-button {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.store-button {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
}

.bottom-landing-page-buttons {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.bottom-store-buttons {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.bottom-store-checkout-button {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  grid-column: 2;
}

.bottom-buttons {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.button:hover {
  background-color: rgb(240, 220, 181);
}

.login-button:hover {
  background-color: rgb(240, 220, 181);
}

.bottom-landing-page-buttons:hover {
  background-color: rgb(240, 220, 181);
}

.bottom-buttons {
  background-color: rgb(255, 252, 241);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin: 30px;
}

.center-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
