.order-list {
  margin-bottom: 20px;
}

.order-separator {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.subtotal-text {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 20px;
}

.header {
  text-align: center;
}

.column-header {
  background-color: rgb(240, 220, 181);
  color: black;
  text-align: center;
  padding: 10px 20px;
  border: 0px solid #000000;
}

.inventory-table {
  margin: 0 auto;
  border: 1px solid #ccc;
}

.table-cell {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 20px;
}

table {
  border-collapse: collapse;
}
